@import "tailwindcss";

@layer theme {
    :root {
        --color-primary: #6366f1;
        --color-primary-hover: #4f46e5;
        --color-bg-app: #f8fafc;
        --color-text-main: #0f172a;
    }
}

body {
    background-color: var(--color-bg-app);
    color: var(--color-text-main);
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 3D Flip Utilities */
.perspective-1000 {
    perspective: 1000px;
}

.transform-style-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.rotate-y-0 {
    transform: rotateY(0deg);
}